<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/styles/main.css" type="text/css" />

    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>node-starter<h1>
  </body>
</html>
